<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contas</title>
    <style>
        #area{
            position:relative;
            left:37%;
            top:29%;
            position:absolute;
            display:block;
            
        }
    </style>
</head>
<body>

    <div id="area">
        <fieldset>
            <legend>Registro gastos</legend>
                <ul>
                    {% for transacao in transacoes%}
                        <li> <a href="{% url 'url_update' transacao.id%}"> {{ transacao }} - {{ transacao.data }} - R${{ transacao.valor }} - {{ transacao.categoria }}  </a>
                        </li>
                    {% endfor %}
                </ul>
                <a href="{% url 'url_nova' %}">Novo</a>
        </fieldset>
    </div>
</body>
</html>